<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Creador de Color</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Red</h2>
      <input type="text" class="dial" data-max="255" value="255" id="red">
    </div>
    <div class="col-md-4">
      <h2>Green</h2>
      <input type="text" class="dial" data-max="255" value="255" id="green">
    </div>
    <div class="col-md-4">
      <h2>Blue</h2>
      <input type="text" class="dial" data-max="255" value="255" id="blue">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 id="value_color">rgb(255, 255, 255)</h2>
    </div>
    <div class="offset-md-1 col-md-10 square">
    </div>
  </div>
</div>
